# Database connection url (Supabase Postgres connection pooler url)
DATABASE_URL=postgresql://username:password@host:port/database

# Initial Admin Seeding Credentials (optional)
ADMIN_USERNAME=opensourcenitj@gmail.com
ADMIN_PASSWORD=YOUR_SECURE_PASSWORD

# ImgBB API Key for FAQ & Dispatches Image Uploads
IMGBB_API_KEY=your_imgbb_api_key_here
